<!DOCTYPE html>
<html lang="en"> 
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Control Panel</title>
    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
    <script src="static/jquery.min.js"></script>
    <script src="static/main.js"></script>
  </head>

  <body>
<TD style="FONT-SIZE: 13px; COLOR:#000000; LINE-HIGHT:50px; FONT-FAMILY:Arial,Helvetica,sans-serif">


    <legend style="color: green;font-size:17px; ">CES_Panel</legend>
		<div class="tri-state-toggle" style="display: inline-block;">
      <div class="toggle-button">
  			<button class="tri-state-toggle-button1" id="toggle-button0" onclick="push('toggle1',1)">
  		    <span>On</span>
  		  </button>

  			<button class="tri-state-toggle-button1" id="toggle-button1" onclick="push('toggle1',0)">
  			  <span>Off</span>
  		  </button>

  		  <button class="tri-state-toggle-button1" id="toggle-button2" onclick="push('toggle1',2)">
  			  <span>Auto</span>
  		  </button>
      </div>
    </div>
    <span style="font-size:30px;padding-left:5px;color:#337ab7;">Bulb</span>
    <br>

    <div class="tri-state-toggle" style="margin-top:5px;display: inline-block;">
      <div class="toggle-button">
        <button class="tri-state-toggle-button2" id="toggle-button3" onclick="push('toggle2',1)">
          <span>On</span>
        </button>

        <button class="tri-state-toggle-button2" id="toggle-button4" onclick="push('toggle2',0)">
          <span>Off</span>
        </button>

        <button class="tri-state-toggle-button2" id="toggle-button5" onclick="push('toggle2',2)">
          <span>Auto</span>
        </button>
      </div>
    </div>
    <span style="font-size:30px;padding-left:5px;color:#337ab7;">Fan1</span>
    <br>

    <div class="tri-state-toggle" style="margin-top:5px;display: inline-block;">
      <div class="toggle-button">
        <button class="tri-state-toggle-button3" id="toggle-button6" onclick="push('toggle3',1)">
          <span>On</span>
        </button>

        <button class="tri-state-toggle-button3" id="toggle-button7" onclick="push('toggle3',0)">
          <span>Off</span>
        </button>

        <button class="tri-state-toggle-button3" id="toggle-button8" onclick="push('toggle3',2)">
          <span>Auto</span>
        </button>
      </div>
    </div>
    <span style="font-size:30px;padding-left:5px;color:#337ab7;">Fan2</span>
    <br>

    <div class="tri-state-toggle" style="margin-top:5px;display: inline-block;">
      <div class="toggle-button"> 
        <button class="tri-state-toggle-button4" id="toggle-button9" onclick="push('toggle4',1)">
          <span>On</span>
        </button>

        <button class="tri-state-toggle-button4" id="toggle-button10" onclick="push('toggle4',0)">
          <span>Off</span>
        </button>
    
        <button class="tri-state-toggle-button4" id="toggle-button11" onclick="push('toggle4',2)">
          <span>Auto</span>
        </button>
      </div>
    </div>
    <span style="font-size:30px;padding-left:5px;color:#337ab7;">Irrigation Drip</span>
    <br>
    
    <div class="tri-state-toggle" style="margin-top:5px;display: inline-block;">
      <div class="toggle-button">
        <button class="tri-state-toggle-button5" id="toggle-button12" onclick="push('toggle5',1)">
          <span>On</span>
        </button>

        <button class="tri-state-toggle-button5" id="toggle-button13" onclick="push('toggle5',0)">
          <span>Off</span>
        </button>

        <button class="tri-state-toggle-button5" id="toggle-button14" onclick="push('toggle5',2)">
          <span>Auto</span>
        </button>
      </div>
    </div>
    <span style="font-size:30px;padding-left:5px;color:#337ab7;">Fertilizing Drip</span>


		</div>    
  </body>
</html>

